# Diretórios Python
__pycache__/
exercicios/__pycache__/
*.py[cod]
*$py.class

# Ambientes virtuais
venv/
ENV/
env/
.venv

# IDE
.vscode/
.idea/
*.swp
*.swo

# Arquivos do sistema
.DS_Store
Thumbs.db

# Distribuições
dist/
build/
*.egg-info/
